@charset "utf-8";
$baseFontSize: 12px;
$titleBgColor: #ffea81;
$borderDirection: top;

body{
  background-color:green;
  font-size: $baseFontSize;
}

#box{
  width: 200px;
  height: 150px;
  font-size: $baseFontSize+2;
  border-#{$borderDirection}:1px solid black;
}

#box li{
  background-color: $titleBgColor;
}

#box1{
  border-#{$borderDirection}:1px solid black;
}

#box1 li{
  background-color: $titleBgColor;
  border:{
    style:solid;
    color:orange;
  }
}

//选择器嵌套
#nav{
  background-color: pink;
  a{
    background-color: $titleBgColor;
    font-size: $baseFontSize;
    &:hover{
      background-color: red;
      font-size: $baseFontSize+1;
    }
  }
}




//无参数混合

@mixin blackBox{
  border: 1px solid black;

}

//有参数混合
@mixin opacityBox($opacityvalue:0.5){
  opacity: $opacityvalue;
}

#box2{
  @include blackBox;
  @include opacityBox(0.8);
}

//继承
#box3{
  @extend #box;
  position: absolute;
  background-color: #ffea81;
}


#box4{
  background-color: green;
}

#box5{
  background-color: red;
}
