@import '_common';
// @charset="utf-8";
body{
    font-size: 12px;
    font-family: Verdana,Geneva,sans-serif;
    color: #666;
}
$width:1263px;
$width2:1100px;
.header{
    width:100%;
    height:209px;
    background:white;
    .header-topbar{
        width:1263px;
        margin:0 auto;
        height:30px;
        background: #f2f2f2;
        border-bottom:1px solid #e5e5e5;
        .tobar{
            width:$width2;
            margin:0 auto;
            .left{
                float:left;
                width:98px;
                line-height:30px;
                a{
                  color:#666666;
                  font-size:12px;
                  &:hover{
                      color: #fa4b9b;
                  }
                  i{
                     font-size:14px;
                     color: #fa4b9b;
                  }
                }
            }
            .right{
                float:right;
                width:331px;
                line-height:30px;
                color:#666666;
                font-size:12px;
                a {
                    margin:0 10px;
                    color:#666666;
                    font-size:12px;
                    &:hover{
                    color: #fa4b9b;  
                    }
                }
         
            }
        }
    }
.header-center{
    width:1263px;
    margin:0 auto;
    height:133px;
    .center{
        width:$width2;
        margin:0 auto;
        background:#ffffff;
        height:133px;
        a{ 
            clear:both;
            width:128px;
            height:78px;
            display:inline-block;
            float:left;
            margin:26px 0;
        img{
            width:100%;
            }
        }
        .r{
            position: relative;
            display:inline;
            width:677px;
            height:84px;
            float:right;
            margin:24px 0;
            .func-search{
                position:relative;
                float:left;
                width:475px;
                // height:58px;
                margin: 28px 0 0 0;
                .clearfix{
                    input{
                        display:block;
                        outline:none;
                            float: left;
                            margin-right: -2px;
                            padding: 6px 0;
                            width: 383px;
                            height: 18px;
                            line-height: 18px;
                            text-indent: 10px;
                            font-size: 12px;
                            border: 2px solid #fa4b9b;
                            vertical-align:bottom;
                        }                                     
                        #searchButton{
                            background-color: #fa4b9b;
                            float: left;
                            margin: 0!important;
                            padding: 0!important;
                            clear: none!important;
                            width: 90px;
                            height: 34px;
                            border: none;
                            text-align: center;
                            color: #fff;
                            font-size: 14px;
                            font-weight: 700;
                            letter-spacing: 5px;
                            cursor: pointer;
                            vertical-align:bottom;
                            &:hover{
                                background-color: #f9197f;  
                            }                        
                        }
                }                 
                #search-list{
                    position: absolute; 
                    top:34px;
                    display:none;
                        border:1px solid #e7e3e3;
                        width: 384px;
                        height: 386px;
                        border-top:none;
                        z-index:1007;
                    li{
                    display: block;
                    padding: 0 10px;
                    height: 24px;
                    line-height: 24px;
                    font-size: 12px;
                    background: #fff;
                    }             
                }
            }
            
            .func-cart{
                position:absolute;
                width:144px;
                height:34px;
                top:28px;
                left:500px;
                background:white;
                border:1px solid transparent; 
                &:hover {
                    border:1px solid #ff3893;
                    height:42px;
                }
                &:cart-item{
                    border:1px solid #ff3893;
                    background:white;
                    z-index:1;
                }
                &:hover .shopping{
                    background:white;
                    color: #fa4b9b; 
                    border-bottom:1px solid transparent;  
                }
                &:hover .shopping2{
                    background:white;
                    border:1px solid transparent;
                        
                }
                a{
                    display:inline-block;
                    width:144px;
                    height:34px;
                    background:white;
                    margin-top:0px;
                    z-index:1;
                    .shopping{
                        display:block;
                        width:34px;
                        height:34px;
                        color:white;
                        background:#fa4b9b;
                        float:left;
                        text-align:center;
                        line-height:34px;
                        // background:url(../img/)
                        
                    }
                    
                    .shopping2{
                        display:block;
                        width:108px;
                        height:32px;
                        border:1px solid #e5e5e5;
                        color:#4f4f4f;
                        float:right;
                        line-height:32px;
                        text-align: center;
                    }
                } 
        
            }
            .cart-more{
                display:none;
                position:absolute;
                width:290px;
                height:30px;
                top:66px;
                left:354px;
                border:1px solid #ff3893;
                border-top:1px solid transparent;
                background:white;
                p{
                    text-align: center;
                    line-height:40px;
                    color:#666;
                    font-size:12px;
                }
            }
            .emptybox{
                display:none;
                position:absolute;
                width:146px;
                height:1px;
                background:red;
                top:65px;
                left:354px;
                color:#666;
                font-size:12px;
                
            }
            .emempoty{
                display:none;
                position:absolute;
                width: 1px;
                height: 19px;
                background: #e5e5e5;
                top: 37px;
                left: 535px;               
            }
        }
    }
    
}
.header-nav{   
    width:$width;
    height:45px;
    margin:0 auto;
    background:#ff3893;
    z-index:2;
    .nav{
        position:relative;
        width:$width2;
        margin:0 auto;
        height:45px;
        background:#ff3893;
        .clearfix{
            width:870px;
            height:45px;
            margin-left:230px;
            li{               
                height:45px;
                float:left;
                width:135px;
                vertical-align:bottom;
                line-height:45px;
                text-align:center;
                &:hover{
                    background-color: #f92c83; 
                }
                
                a{  
                    position:relative;
                    width:130px;
                    height:45px;
                    line-height:45px;
                    color:white;
                    font-size:16px;
                    padding:14px 30px;
                    text-align:center;
                    &:hover img{
                        transform: rotate(180deg);
                        transition: all 0.5s;
                    }
                    img{
                        position:absolute;
                        top:17px;
                        right:5px;
                    }
                }
            }
            .active{
                text-align: center;
                background-color: #ec0971;
            }    
        }
        .choice{
            display:none;
            position:absolute;
            top: 45px;
            left: 634px;
            width:135px;
            height:90px;
            z-index:4;
            text-align:center;               
            li{
                width:130px;
                line-height:35px;
                height:35px;
                z-index:3;
                background:white;
                &:hover{
                    background-color: #f92c83;
                    color:white;  
                }
                a{
                    height:32px;
                    width:90px;
                    margin:0 auto;
                    display:block;
                    border-bottom:1px dashed #ccc;
                    color:gray;
                }                            
            }
        }
        .menus{
            width:230px;
            width:100%;
            height:630px;
            .gooddds{  
                display:none;                   
                width:870px;
                height:390px;
                overflow: hidden;
                position: absolute;
                left: 230px;
                top: 45px;
                z-index:5;
                .dd{   
                    // display:none;                   
                    width: 870px;
                    height: 390px;
                    background: white;
                    border:1px solid #d1d1d1;
                    .brandsone{
                        float:right;
                        width:258px;
                        height:272px;
                        margin-right: 37px;
                        h3{
                            padding-bottom: 8px;
                            font-size: 14px;
                            color: #222;
                            display: block;
                            -webkit-margin-before: 1em;
                            -webkit-margin-after: 1em;
                            -webkit-margin-start: 0px;
                            -webkit-margin-end: 0px;
                            font-weight: bold;
                        }
                        .clearbrandsone{
                            width:253px;
                            height:243px;
                            a{
                                display:block;
                                float:left;
                                width:84px;
                                height:84px;
                                box-sizing:border-box;
                                border:1px solid #e5e5e5;                            
                                img{
                                    display:block;
                                    width:82px;
                                    height:82px;
                                }
                            }
                        
                        }
                    }
                    .columstotol{
                        float:left;
                        width:530px;
                        height:360px;      
                        .columone{
                            width:230px;
                            float:left;
                            margin:0 10px;
                            h3{
                                padding-bottom: 8px;
                                font-size: 14px;
                                border-bottom: 1px solid #e5e5e5;
                                color: #222;
                                display: block;
                                -webkit-margin-before: 1em;
                                -webkit-margin-after: 1em;
                                -webkit-margin-start: 0px;
                                -webkit-margin-end: 0px;
                                font-weight: bold;
                            }
                            p{
                                width:250px;
                                height:48px;
                                display: block;
                                -webkit-margin-before: 1em;
                                -webkit-margin-after: 1em;
                                -webkit-margin-start: 0px;
                                -webkit-margin-end: 0px;
                                margin-top:10px;
                                a{
                                    display:inline-block;
                                    vertical-align: top;
                                    margin-right: 10px;
                                    line-height: 2;
                                    font-size: 12px;
                                    color:#666;
                                    &:hover{
                                        color:#ff3893;   
                                    }
                                }
                                .hot{
                                    color:#ff3893;
                                }
                            }
                        }
                    }
                }
            }
            .tit{
                position:absolute;
                top:-3px;
                left:0px;
                width:230px;
                height:52px;
                background:#f92c86;
                z-index:1;
                h3{
                    position: relative;
                    padding-left: 22px;
                    font-size: 16px;
                    line-height: 52px;
                    color: #fff;
                    &:hover img {
                        transform:rotate(180deg);  
                        transition: all 1s;
                    }
                    img{
                        position:absolute;
                        top:18px;
                        right:5px;
                        width:28px;
                        height:17px;                                                  
                    }
                }
            }
            .dlsone{
                position:relative;
                width:230px;
                height:593px;
                z-index:1;
                top:3px;
                left:0;                                     
                .dt{                 
                    width:230px;
                    height:70px;
                    padding: 0 12px;
                    box-sizing:border-box;
                    background:white url(../img/list_bg.png) no-repeat 208px center;
                    .intercontent{
                        width:206px;
                        height:74px;
                        padding: 5px 10px 9px 10px;
                        // border-bottom: 1px dashed #d1d1d1;
                        box-sizing:border-box;
                        font-size:14px;
                        strong{
                            display: block;
                            width: 182px;
                            height:21px;
                            white-space: nowrap;
                            overflow: hidden;                     
                            a{
                                color:#f92c86;
                                width:78px;
                                height:17px;
                            }
                        }
                        p{
                            min-height: 36px;
                            height: auto!important;
                            max-height: 36px;
                            margin-top: 3px;
                            margin-left: 3px;
                            width: 170px;
                            font-size: 12px;
                            overflow: hidden;
                            display: block;
                            -webkit-margin-before: 1em;
                            -webkit-margin-after: 1em;
                            -webkit-margin-start: 0px;
                            -webkit-margin-end: 0px;
                            a{
                                color: #666;
                                display: inline-block;
                                vertical-align: middle;
                                line-height: 1;
                                margin-right: 6px;
                                &:hover{
                                    color:#f92c86; 
                                }
                            }
                        }
                    }
                                    
                    }                        
                    .dtchange{
                        background:white;
                        box-sizing:border-box;
                        border-left:4px solid #f92c86;
                        border-right:3px solid white;
                        border-bottom:1px solid #d1d1d1;
                        width:231px;
                        z-index:1;

                    }
                    .dtother{
                        border:1px solid #d1d1d1;
                    }
                }                  
            }
            
        }
    }
    
}

/*this is help center start*/
.wrap{
    padding-bottom: 20px;
    .content{
        .w1004{
            width: 1004px;
            margin: 0 auto;
            .clearfix {
                zoom: 1;
                ul{
                    li{
                        a{
                            &:hover {
                                color: #f450a2;
                            }
                        }
                    }
                }
            }
            .helptitle {
                padding: 20px 0;
                height:15px;
                h3 {
                    padding-right: 10px;
                    font-weight: 400;
                }
                .yahei {
                    font-family: \5FAE\8F6F\96C5\9ED1;
                }
                .f20 {
                    font-size: 20px;
                }
                .pink {
                    color: #f450a2;
                }
                .l {
                    float: left;
                }
                span {
                    float: left;
                    padding-top: 10px;
                    font-size: 12px;
                    font-family: Verdana,Geneva,sans-serif;
                    color: #666;
                }
            }
            .ic{
                height:auto;
                .l{
                    float: left;   
                    display: inline;                
                }
                .left {
                    border: 1px solid #dadada;
                    width: 148px;
                    background: #fff;
                    border-top: 0;
                    // height:40px;
                    .title {
                        height: 32px;
                        background: #e8e8e8;
                        line-height: 30px;
                        padding-left: 10px;
                        color: #000;
                        font-weight: 700;
                        font-size: 13px;
                        border-top: 1px solid #dadada;
                        border-bottom: 1px solid #dadada;
                        ul {
                            padding: 10px 10px;
                        }
                    }
                    ul{
                        padding: 10px 10px;
                        li {
                            height: auto;
                            line-height: 24px;
                            ul{
                                padding: 2px 10px 10px 16px;
                                border-top: 1px dashed #e6e6e6;
                                margin-top: 5px;
                                .current a {
                                    font-weight: 700;
                                    color: #C71585;
                                }
                            }
                        }
                    } 
                }
                .right {
                    width: 830px;
                    margin-left: 20px;
                    background:purple;
                    .title{
                        padding: 15px;
                        border-width: 1px;
                        border: 1px solid #e6e6e6;
                        border-bottom: 2px solid #f450a2;
                        background: #fff;
                        overflow: hidden;
                        zoom: 1;
                    }
                    .hint {
                        padding: 15px 20px 20px 20px;
                        border: 1px solid #e6e6e6;
                        background: #fff;
                        .myohelp {
                            width: 748px;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
    .myhelp .clix {
        height: 26px;
        &:hover a{
            color:#f450a2;
        }
        a{
            font-weight: 700;
        }
        ul{
            li{
                &:hover a{
                    color:#f450a2;
                }
            }
        }
    }
    .myhelp .ic .left li ul {
        padding: 2px 10px 10px 16px;
        border-top: 1px dashed #e6e6e6;
        margin-top: 5px;
        display: none;
    }
}


.fold {
    background: url(../img/bg_icons.png) no-repeat scroll -150px 0px rgba(0,0,0,0);
    cursor: pointer;
    display: inline-block;
    height: 9px;
    margin-right: 7px;
    overflow: hidden;
    width: 9px;
    font-size: 12px;
    font-family: Verdana,Geneva,sans-serif;
    color: #666;
}
.unfold {
    background: url(../img/bg_icons.png) no-repeat scroll -150px -50px rgba(0,0,0,0);
}
.blod {
    font-weight: 700;
    &:hover{
        color:#f450a2;
    }
}

/*this is help center start*/
/*emptyDIV*/
.emptyDIV{
    clear: both;
    overflow: hidden;
    height: 40px;
}

/*last part footer*/
.footer{
    width:100%;
    height:540px;
    font-size: 12px;
    font-family: Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;
    clear: both;
    border-top:1px solid #dfdfdf;
    .footer_topar{
        margin:0 auto;
        width:$width2;
        background: white;
        .footer_top{
            margin:0 auto;
            width:$width2;
            background: #fff;
            border-bottom: 1px solid #f2f2f0;
            .w1100{
                width:$width2;
                height:134px;
                padding: 20px 0 15px 42px;  
                box-sizing:border-box;              
                font-size: 0;
                border-bottom: 1px solid #f2f2f0;
                a{
                    display: inline-block;
                    vertical-align: middle;
                    width: 167px;
                    font-size: 12px;
                    line-height: 1.4;
                    color: #999;
                    text-align: center;
                    cursor: auto;
                    font-family: Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;
                    position:relative;
                    float:left;
                    em{
                        position:absolute;
                        top:7px;
                        left:50px;
                        display:block;
                        width:64px;
                        height:58px;
                        img{
                            width:100%;
                            height:100%;
                        }
                    }
                    b{
                        display: block;
                        margin-top: 70px;
                        font-size: 15px;
                        color: #333;
                    }
                }
            }        
        }
        .footer_center{
            margin:0 auto;
            width:$width2;;            
            .w1100{
                width:$width2;
                height:187px;
                .footer_c_left{
                    width:730px;
                    height:160px;
                    margin-left: 15px;
                    float:left;
                    font-size:12px;
                    ul{
                        width:132px;
                        float:left;
                        color: #333;
                        -webkit-margin-before: 1em;
                        -webkit-margin-after: 1em;
                        -webkit-margin-start: 0px;
                        -webkit-margin-end: 0px;
                        -webkit-padding-start: 40px;
                        box-sizing: border-box;
                        font-family: Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;
                        li{
                            width:132px;
                            height:31px;
                            line-height: 26px;
                            height: 26px;
                            padding-left: 32px;
                            &:hover{
                                color:#fa4b9b;
                            }
                       }
                       .strong{
                           font-weight:700;
                           font-size:14px;
                           &:hover{
                            color:#333;
                        }
                       }
                       .long{
                           width:200px;
                       }
                    }
                }
                .footer_c_right{
                    width:187px;
                    height:167px;
                    float:left;
                    margin-left:60px;
                    .wxt{
                        border-left:1px solid #e8e8e8;
                        padding-left: 20px;
                        height: 168px;
                        text-align: left;
                        width: 186px;
                        list-style-type: disc;
                        -webkit-margin-before: 1em;
                        -webkit-margin-after: 1em;
                        -webkit-margin-start: 0px;
                        -webkit-margin-end: 0px;
                        color:#333;
                        .strong{
                            font-weight:900;
                            font-size:14px;
                            line-height: 26px;
                            height: 26px;
                            font-family: Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;                          
                        }
                        .right_img{
                            img{
                              float:left;
                              display:block;
                              margin-right:5px;
                            }
                            rig{
                             float:left;
                            }
                        }
                    }
                }
            }
        }
        .footer_bottom{
            margin:0 auto;
            width:$width2;
            height:213px;
            .w1100{
                border-top: 1px solid #f2f2f0;
                width:$width2;
                height:213px;
                text-align: center;
                line-height: 22px;
                color: #979797;
                font-size: 12px;
                font-family: Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;
                p{
                    color: #979797;
                    padding-bottom: 10px;
                    -webkit-margin-before: 1em;
                    -webkit-margin-after: 0px;
                    -webkit-margin-start: 0px;
                    -webkit-margin-end: 0px;
                    text-align: center;
                    line-height: 22px;
                    a{
                        padding: 0 10px;
                        color: #666;
                        cursor: auto;
                        text-align: center;
                        line-height: 22px;
                        font-size: 12px;
                    }
                } 
                .cert{
                    padding-bottom: 10px;
                    padding: 10px 0;
                    -webkit-margin-before: 1em;
                    -webkit-margin-after: 1em;
                    -webkit-margin-start: 0px;
                    -webkit-margin-end: 0px;
                    text-align: center;
                    font-size: 12px;
                    a{
                        padding: 0 10px;
                        text-align: center;
                        line-height: 22px;
                    }
                }             
            }
        }
    }
}
.sidebar{
    display:none;
    width:100%;
    position:fixed;
    bottom:100px;
    height:252px;
    bottom: 100px;
    .leftside{
        width:80px;
        height:252px;
        float:left;
        img{
            width:100%;
        }
    }
    .rightside{
        position:relative;
        float:right;
        width:100px;
        height:252px;
        .list{
            width:50px;
            height:184px;
            margin:0 auto;   
            ul{
                border:1px solid  gray;
                border-radius:8px;
                width:50px;
                background:white;
                margin: 31px 0;
               
                li{
                    width: 50px;
                    height:50px;
                    border-bottom:1px solid gray;
                    text-align:center;
                    line-height:25px;
                    a{  
                        color: #666;                      
                        &:hover{
                            color:#fa4b9b;
                        }
                        span{
                            display:block;
                            font-size:12px;
                       }
                    }
                }
                .last_li{
                    border-bottom:1px solid transparent;  
                }
            }
        }
        .ad{
            position:absolute;
            top: 182px;
            left: 26px;
            display: block;
            width: 51px;
            height:25px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            text-align:center;
            line-height:25px;
            background:#fa4b9b;
            i{  
                position:absolute;
                top: -1px;
                left: 15px;
                display:block;
                width:0;
                height:0;
                border:10px solid white;
                border-top:10px solid transparent;
                border-left:10px solid transparent;
                border-right:10px solid transparent;
            }
        }
    }
}

//this is side cloumn start
.htmleaf-container{
    position:absolute;
    top:-24px;
    margin-left:-25px;
    width:230px;
    height:630px;
    .product_sort{
        display:block;
        margin:20px;
        width:225px;
        height:620px;
        position:relative; 
        z-index:90;
        box-sizing:border-box;     
        .hd{
            width:226px;
            height:52px;
            background-color: #f92a85;
            z-index:1;
            line-height: 52px;
            text-indent: 0px;
            font-size:15px;
            font-weight:bold;
            color:#fff; 
            box-sizing:border-box;
            .bd{
                display:none;
                width:226px;
                padding-bottom:10px;
                display:block;
                .item{           
                    height:69px;
                    position:relative;
                    border-bottom:1px solid transparent;
                    box-sizing: border-box;
                    .subitem{
                        display:none;
                    }
                    .title{
                        width:226px;
                        text-indent:17px;
                        height:22px;
                        line-height:22px;
                        overflow:hidden;
                        font-size:14px;
                        font-weight:bold;
                        color:#292929;
                        a{
                            color: #fb60a7;
                            position:relative;
                            padding-left:5px;
                            i{
                                width:19px;
                                height:19px;
                                background-position:0 0;
                                left:-25px;
                                top:-3px;
                            }
                        }
                    }
                    .list{
                        width:200px;
                        height:50px;
                        line-height:20px;
                        padding-left:5px;
                        margin-left:15px;
                        // overflow:hidden;
                        background: url(../img/sideDot.jpg) repeat-x 5px 47px ;
                        a{
                            font-family:"Microsoft YaHei",Arial,sans-serif;
                            color: #666;
                            font-size:12px;  
                            display: inline-block;
                            vertical-align: middle;                     
                            &:hover{
                                color: #fb60a7;
                            }
                        }
                    }
                    .arrow{
                        font-family:"Microsoft YaHei",Arial,sans-serif;
                        font-size:20px; 
                        color:#c0d7f9;
                        position:absolute;
                        right: -2px;
                        top: 10px;
                    }
                    .lineleft{
                        position:absolute;
                        left:0px;
                        top:-1px;
                        width:4px;
                        height:81px;
                        background-color:#fb60a7;
                        z-index:95;
                        display:none;
                    }
                }
                .layer{
                    background:white;
                    border-bottom:1px solid #eee;
                    box-sizing: border-box;
                    .line{                 
                        position:absolute;
                        right:-8px;
                        top:0px;
                        width:10px;
                        height:69px;
                        background-color:white;
                        display:block; 
                        z-index:10000; 
                    }
                    .lineleft{
                        position:absolute;
                        left:0px;
                        top:-1px;
                        width:4px;
                        height:81px;
                        background-color:#fb60a7;
                        z-index:95;
                        display:block;
                        
                    }
                    .list{
                        width:200px;
                        padding-left:5px;
                        margin-left:15px;
                        height:50px;
                        line-height:20px;
                        overflow:hidden;
                        background-image:none;
                        a{
                            font-family:"Microsoft YaHei",Arial,sans-serif;
                            color: #666;
                            font-size:12px;  
                            display: inline-block;
                            vertical-align: middle;                     
                            &:hover{
                                color: #fb60a7;
                            }
                        }
                    }
                    .arrow{
                       display:none;
                    }
                    .subitem{
                        background:white;
                        display:block;
                        position:absolute;
                        width:870px;
                        top:0;
                        left:225px;
                        height:390px;
                        border-left:1px solid #eee;
                        box-sizing: border-box;
                        .columstotol{
                            float:left;
                            width:530px;
                            height:360px;      
                            .columone{
                                width:230px;
                                float:left;
                                margin:0 10px;
                                h3{
                                    padding-bottom: 8px;
                                    font-size: 14px;
                                    border-bottom: 1px solid #e5e5e5;
                                    box-sizing: border-box;
                                    color: #222;
                                    display: block;
                                    -webkit-margin-before: 1em;
                                    -webkit-margin-after: 1em;
                                    -webkit-margin-start: 0px;
                                    -webkit-margin-end: 0px;
                                    font-weight: bold;
                                }
                                p{
                                    width:250px;
                                    height:48px;
                                    display: block;
                                    -webkit-margin-before: 1em;
                                    -webkit-margin-after: 1em;
                                    -webkit-margin-start: 0px;
                                    -webkit-margin-end: 0px;
                                    margin-top:10px;
                                    a{
                                        display:inline-block;
                                        vertical-align: top;
                                        margin-right: 10px;
                                        line-height: 2;
                                        font-size: 12px;
                                        color:#666;
                                        &:hover{
                                            color:#ff3893;   
                                        }
                                    }
                                    .hot{
                                        color:#ff3893;
                                    }
                                }
                            }
                        }
                        .brandsone{
                            float:right;
                            width:258px;
                            height:272px;
                            margin-right: 37px;
                            h3{
                                padding-bottom: 8px;
                                font-size: 14px;
                                color: #222;
                                display: block;
                                -webkit-margin-before: 1em;
                                -webkit-margin-after: 1em;
                                -webkit-margin-start: 0px;
                                -webkit-margin-end: 0px;
                                font-weight: bold;
                            }
                            .clearbrandsone{
                                width:253px;
                                height:243px;
                                a{
                                    display:block;
                                    float:left;
                                    width:84px;
                                    height:84px;
                                    box-sizing:border-box;
                                    border:1px solid #e5e5e5;                            
                                    img{
                                        display:block;
                                        width:82px;
                                        height:82px;
                                    }
                                }
                           
                            }
                        }
                    }
                    .subitem_5{
                        top:-100px;
                    }
                    .subitem_6 {
                        top:-200px;
                    }
                    .subitem_7{
                        top:-300px;
                    }
                    .subitem_8,{
                        top:-300px;
                    }
                }
            }       
        }
        .item{
            display: block;
            width: 200px;
            height:21px;
            white-space: nowrap;
            overflow: hidden;
            .one{
                color:#f92c86;
                width:78px;
                height:17px;
            }
        }
        
    } 
}
//this is sidecloum end