@import '_common';
// @charset="utf-8";
body{
    background:white;
}
$width:1263px;
$width2:1100px;
.header{
    width:100%;
    height:31px;
    .header-topbar{
        width:1263px;
        margin:0 auto;
        height:30px;
        background: #f2f2f2;
        border-bottom:1px solid #e5e5e5;
        .tobar{
            width:$width2;
            margin:0 auto;
            .left{
                float:left;
                width:98px;
                line-height:30px;
                a{
                  color:#666666;
                  font-size:12px;
                  &:hover{
                      color: #fa4b9b;
                  }
                  i{
                     font-size:14px;
                     color: #fa4b9b;
                  }
                }
            }
            .right{
                float:right;
                width:331px;
                line-height:30px;
                color:#666666;
                font-size:12px;
                a {
                    margin:0 10px;
                    color:#666666;
                    font-size:12px;
                    &:hover{
                    color: #fa4b9b;  
                    }
                }
         
            }
        }
    }
}
.mainHeader{
    position: relative;
    z-index: 300;
    .w1004 {
        // height: 100px;
        width: 1000px;
        margin: 0 auto;
        border-bottom:1px solid #eee;
        margin-bottom:20px;
        .logo {
            background-position: 168px 64px;
            height: 100px;
            width: 546px;
            padding: 0;
            float: left;
            display: inline;
            .logolink{
                background: url(../img/mai_1.png) no-repeat 0 0;
                width: 210px;
                height: 100px;
                display: block;
                overflow: hidden;
                text-indent: -999px;
            }
        }
        .right{
            background: #fff;
            width: 454px;
            height: 80px;
            float: left;
            display: inline;
            .schedule {
                background: url(../img/cart_step_fN.png) no-repeat;
                clear: both;
                width: 435px;
                height: 42px;
                float: right;
                margin-top: 30px;
                line-height: 42px;
                li {
                    float: left;
                    width: 144px;
                    padding-left: 0;
                    color: #666;
                    text-align: center;
                    font-size:12px;
                }
                .current {
                    color: #fff;
                }
            }
            .songti {
                font-family: \5B8B\4F53;
            }
        } 
    }   
}
.c_title {
    border-bottom: 2px solid #eaeaea;
    border-top: none;
    padding: 10px 0px;
    margin-left: 10px;
    margin-right: 10px;
    span {
        border-bottom: 2px solid #fa4b9b;
        padding-bottom: 10px;
        padding-right: 10px;
        color: #333;
    }
}
.yahei {
    font-family: \5FAE\8F6F\96C5\9ED1;
}
.c_menu {
    overflow: hidden;
    background: #fff;
    padding: 15px;
    .ci {
        text-align: center;
        padding: 2px 0;
    }
    div {
        float: left;
    }
    @at-root{
        .ci0 {
            width: 87px;
            text-align: left!important;
            margin-left: 20px;
            font-size: 12px;
            font-family: Verdana,Geneva,sans-serif;
            color: #666;
        }
        .ci1{
            width: 280px;
            font-size: 12px;
            font-family: Verdana,Geneva,sans-serif;
            color: #666;
        }
        .ci2{
            width: 113px;
            border-left: 1px solid #ddd;
            font-size: 12px;
            font-family: Verdana,Geneva,sans-serif;
            color: #666;
        }
        .ci3{
            width: 113px;
            border-left: 1px solid #ddd;
            font-size: 12px;
            font-family: Verdana,Geneva,sans-serif;
            color: #666;
        }
        .ci4{
            width: 113px;
            border-left: 1px solid #ddd;
            font-size: 12px;
            font-family: Verdana,Geneva,sans-serif;
            color: #666;
        }
        .ci5{
            width: 113px;
            border-left: 1px solid #ddd;
            font-size: 12px;
            font-family: Verdana,Geneva,sans-serif;
            color: #666;
        }
        .ci6 {
            width: 113px;
            border-left: 1px solid #ddd;
            font-size: 12px;
            font-family: Verdana,Geneva,sans-serif;
            color: #666;
        }
    }
}
.c_list {
    
    overflow: inherit;
    background: #fff;
    padding: 0 15px;
    border: 1px solid #ededed; 
    .cl_con {
        height:400px;
        margin-bottom: 0px; 
        .cl_promotion{
            .cl_tit{
                .cl_mck {
                    .mck{
                        opacity: 0;
                        vertical-align: middle;
                        margin-bottom: 0;
                        margin-right: 5px;
                        width: 100%;
                        height: 80%;
                        line-height: normal;
                        outline: 0;
                        font-size: 12px;
                        font-family: inherit;
                    } 
                }
                .cl_tag.disabled {
                    background: none;
                    width: auto;
                    height: 28px;
                    margin-left: 19px;
                    margin-right: 10px;
                    span{
                        display: inline-block;
                        padding: 0 8px;
                        background: #fb5b71;
                        color: #fff;
                        text-align: center;
                        height: 22px;
                        width: auto;
                        line-height: 22px;
                        font-size: 14px;
                    }
                }
                .cl_words_new {
                    margin-top: 4px!important;
                    .full_diff_money {
                        color: #fb5b71;
                        font-size: 14px;
                    }
                }
                .cl_items {
                    font-size: 12px;
                    font-family: Verdana,Geneva,sans-serif;
                    color: #666;
                    clear:left;
                    background: #fff;
                    .clearfix:after{
                        content: ".";
                        display: block;
                        height: 0;
                        clear: both;
                        visibility: hidden;
                    }
                    .gooditem{
                        border-bottom: none;
                        position: relative;
                        margin: 0;
                        padding-left: 14px;
                        padding: 12px 0;
                        .it_mck{
                            position: relative;
                            z-index: 2;
                            background: url(../img/arrowRed.png)  repeat-y 0 42px;;
                            width: 20px;
                            .mck{
                                opacity: 0;
                                vertical-align: middle;
                                margin-bottom: 0;
                                margin-right: 5px;
                                width: 100%;
                                height: 80%;
                                line-height: normal;
                                outline: 0;
                                font-size: 12px;
                                font-family: inherit;
                            }
                        }
                        div{
                            float:left;
                        }
                        .it_img{
                            position: relative;
                            width: 80px;
                            height: 80px;
                            border: 1px solid #ddd;
                            margin-right: 15px;
                            margin-left: 16px;
                        }
                        .it_des{
                            width: 240px;
                            line-height: 16px;
                            .dtz{
                                float: left;
                                margin: 3px 3px 0 0;
                                line-height: 16px;
                            }
                            .tzname{
                                float: left;
                                margin-top: 3px;
                                width: 195px;
                                height: 32px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                margin-bottom: 6px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                            .goods_select{
                                color: #adadad;
                            }
                            .preSale_txt{
                                color: #ff69b4;
                                padding-top: 5px;
                            }
                        }
                        .it_size{
                            width: 115px;
                            margin-top: 3px;
                            line-height: 16px;
                            text-align: center;
                            color: #999;
                            word-break: break-all;
                        }
                        .it_price{
                            width: 115px;
                            text-align: center;
                            margin-top: 3px;
                            .goodmp {
                                margin-top: 10px;
                                color: #999;
                                text-decoration: line-through;
                            }
                        }
                        .it_num{
                            width: 115px;
                            text-align: center;
                            margin-top: 3px; 
                            .dp_bt {
                                position: relative;
                                height: 22px;
                                line-height: 22px;
                                border: 1px solid #e2e2e2;
                                margin: 0 auto;
                                width: 75px;
                                background-color: #fff;
                                .dp_jian {
                                    background-position: 0 -22px;
                                    border-right: 1px solid #e2e2e2;
                                }
                                .dpcom {
                                    float: left;
                                    width: 22px;
                                    height: 22px;
                                    display: inline-block;
                                    cursor: pointer;
                                    background: url(../img/jiajian.png) no-repeat ;
                                }
                                .dp_num {
                                    background-color: #FFF;
                                    line-height: 22px;
                                    text-align: center;
                                    width: 28px;
                                    height: 22px;
                                    float: left;
                                    overflow: hidden;
                                    border: 0 none;
                                }
                                .dp_jia {
                                    float: left;
                                    background-position: -22px -22px;
                                    border-left: 1px solid #e2e2e2;
                                }
                                .pink {
                                    color: #f450a2;
                                    float: left;
                                    padding-top: 8px;
                                    line-height: 1.5;
                                    width: 100%;
                                    display: none;
                                }
                            } 
                            .limit_buy{
                                clear:left;
                                height: 5px;
                                width:75px;
                            }
                        }
                        .it_total {
                            width: 115px;
                            text-align: center;
                            margin-top: 3px;
                            color: #ff69b4;
                        }
                        .it_operate {
                            text-align: center;
                            margin-top: 3px;
                            margin-left: 30px;
                            width: 48px;
                        }
                        .midou_dikou{
                            clear: both;
                            width: 100%;
                            .midou_dikou_m {
                                position: relative;
                                margin: 15px 0 0 50px;
                                padding-left: 23px;
                                height: 32px;
                                line-height: 32px;
                                font-size: 14px;
                                color: #666;
                                background: #fff6fa;
                                .mid_max{
                                    display:none;
                                }
                                .tp1 {
                                    display: inline-block;
                                    .ts1 {
                                        margin-right: 15px;
                                        color: #333;
                                    }
                                }
                                .midou_btn {
                                    display: inline-block;
                                    margin-left: 18px;
                                    border: 1px #ff447c solid;
                                    width: 64px;
                                    height: 18px;
                                    line-height: 18px;
                                    text-align: center;
                                    font-size: 12px;
                                    color: #fff;
                                    background: #ff447c;
                                    border-radius: 10px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
           }
        }
     } 
    .cl_tit {
        position: relative;
        overflow: visible;
        padding-left: 20px;
        padding: 14px 26px;
        line-height: 20px;
        background: #fafafa;
        div {
            float: left;
            margin-top: 2px;
            padding-bottom: 2px;
        }
    }
    .inputwarp {
        background-position: 0 -176px;
        background: url(../img/arrowRed.png) no-repeat 0 263px;
        background-repeat: repeat-y;
        width: 23px;
        height: 22px;
        display: inline-block;
        position: relative;
        left: 2px;
        .mckall{
            opacity: 0;
            vertical-align: middle;
            margin-bottom: 0;
            margin-right: 5px;  
            width: 100%;
            height: 80%;     
            line-height: normal;
            outline: 0;
            font-size: 12px;
            font-family: inherit;     
        }
    }
    .cl_wordsNew{
        clear:right;
        margin-left: 5px;
        margin-top: 4px!important;
        font-size: 18px;
        color: #333;
        font-family: 'Microsoft YaHei';
    }
    .cl_tit_Newbg{
        padding-right:20px;
    }
}
.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.c_countn {
    background: #fff;
    border: 1px solid #ddd;
    border-right: none;
    height: 58px;
    margin: 50px 15px 0;
    position: relative;
    div{
        display: inline-block;
    }
    .funcs {
        margin-left: 20px;
        line-height: 58px;
        position: absolute;
        .inputwarp{
            background: url(../img/arrowRed.png) no-repeat 0 263px;
            background-repeat: repeat-y;
            width: 23px;
            height:23px;
            display: inline-block;
            position: relative;
            left: 2px;
            position: relative;
            top: 16px;
            .mckall{
                opacity: 0;
                vertical-align: middle;
                margin-bottom: 0;
                margin-right: 5px;
                width: 100%;
                height: 80%;
                line-height: normal;
                outline: 0;
                font-size: 12px;
                font-family: inherit;
            }
        }
        label {
            font-size: 14px;
            font-weight: bold;
            padding-right: 15px;
        }
        a {
            padding-left: 5px;
            &:hover{
                color:#ff447c;
            }
        }
    }
    .newCart {
        margin-left: 490px;
        text-align: left;
        div{
            margin: 5px;
        }
        .ze {
            color: #333;
            font-weight: 700;
            line-height: 18px;
            padding-top: 6px;
            margin-top: 15px;
            span{
                label {
                    font-size: 18px;
                    color: #fa4b9b;
                    font-weight: 400;
                    vertical-align: top;
                }
            }
        }
    }
}

/*last part footer*/
.footer{
    width:100%;
    height:540px;
    font-size: 12px;
    font-family: Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;
    clear: both;
    border-top:1px solid #dfdfdf;
    .footer_topar{
        margin:0 auto;
        width:$width2;
        background: white;
        .footer_top{
            margin:0 auto;
            width:$width2;
            background: #fff;
            border-bottom: 1px solid #f2f2f0;
            .w1100{
                width:$width2;
                height:134px;
                padding: 20px 0 15px 42px;  
                box-sizing:border-box;              
                font-size: 0;
                border-bottom: 1px solid #f2f2f0;
                a{
                    display: inline-block;
                    vertical-align: middle;
                    width: 167px;
                    font-size: 12px;
                    line-height: 1.4;
                    color: #999;
                    text-align: center;
                    cursor: auto;
                    font-family: Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;
                    position:relative;
                    float:left;
                    em{
                        position:absolute;
                        top:7px;
                        left:50px;
                        display:block;
                        width:64px;
                        height:58px;
                        img{
                            width:100%;
                            height:100%;
                        }
                    }
                    b{
                        display: block;
                        margin-top: 70px;
                        font-size: 15px;
                        color: #333;
                    }
                }
            }        
        }
        .footer_center{
            margin:0 auto;
            width:$width2;;            
            .w1100{
                width:$width2;
                height:187px;
                .footer_c_left{
                    width:730px;
                    height:160px;
                    margin-left: 15px;
                    float:left;
                    font-size:12px;
                    ul{
                        width:132px;
                        float:left;
                        color: #333;
                        -webkit-margin-before: 1em;
                        -webkit-margin-after: 1em;
                        -webkit-margin-start: 0px;
                        -webkit-margin-end: 0px;
                        -webkit-padding-start: 40px;
                        box-sizing: border-box;
                        font-family: Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;
                        li{
                            width:132px;
                            height:31px;
                            line-height: 26px;
                            height: 26px;
                            padding-left: 32px;
                            &:hover{
                                color:#fa4b9b;
                            }
                       }
                       .strong{
                           font-weight:700;
                           font-size:14px;
                           &:hover{
                            color:#333;
                        }
                       }
                       .long{
                           width:200px;
                       }
                    }
                }
                .footer_c_right{
                    width:187px;
                    height:167px;
                    float:left;
                    margin-left:60px;
                    .wxt{
                        border-left:1px solid #e8e8e8;
                        padding-left: 20px;
                        height: 168px;
                        text-align: left;
                        width: 186px;
                        list-style-type: disc;
                        -webkit-margin-before: 1em;
                        -webkit-margin-after: 1em;
                        -webkit-margin-start: 0px;
                        -webkit-margin-end: 0px;
                        color:#333;
                        .strong{
                            font-weight:900;
                            font-size:14px;
                            line-height: 26px;
                            height: 26px;
                            font-family: Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;                          
                        }
                        .right_img{
                            img{
                              float:left;
                              display:block;
                              margin-right:5px;
                            }
                            rig{
                             float:left;
                            }
                        }
                    }
                }
            }
        }
        .footer_bottom{
            margin:0 auto;
            width:$width2;
            height:213px;
            .w1100{
                border-top: 1px solid #f2f2f0;
                width:$width2;
                height:213px;
                text-align: center;
                line-height: 22px;
                color: #979797;
                font-size: 12px;
                font-family: Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;
                p{
                    color: #979797;
                    padding-bottom: 10px;
                    -webkit-margin-before: 1em;
                    -webkit-margin-after: 0px;
                    -webkit-margin-start: 0px;
                    -webkit-margin-end: 0px;
                    text-align: center;
                    line-height: 22px;
                    a{
                        padding: 0 10px;
                        color: #666;
                        cursor: auto;
                        text-align: center;
                        line-height: 22px;
                        font-size: 12px;
                    }
                } 
                .cert{
                    padding-bottom: 10px;
                    padding: 10px 0;
                    -webkit-margin-before: 1em;
                    -webkit-margin-after: 1em;
                    -webkit-margin-start: 0px;
                    -webkit-margin-end: 0px;
                    text-align: center;
                    font-size: 12px;
                    a{
                        padding: 0 10px;
                        text-align: center;
                        line-height: 22px;
                    }
                }             
            }
        }
    }
}
.sidebar{
    display:none;
    width:100%;
    position:fixed;
    bottom:100px;
    height:252px;
    bottom: 100px;
    .leftside{
        width:80px;
        height:252px;
        float:left;
        img{
            width:100%;
        }
    }
    .rightside{
        position:relative;
        float:right;
        width:100px;
        height:252px;
        .list{
            width:50px;
            height:184px;
            margin:0 auto;   
            ul{
                border:1px solid  gray;
                border-radius:8px;
                width:50px;
                background:white;
                margin: 31px 0;
               
                li{
                    width: 50px;
                    height:50px;
                    border-bottom:1px solid gray;
                    text-align:center;
                    line-height:25px;
                    a{  
                        color: #666;                      
                        &:hover{
                            color:#fa4b9b;
                        }
                        span{
                            display:block;
                            font-size:12px;
                       }
                    }
                }
                .last_li{
                    border-bottom:1px solid transparent;  
                }
            }
        }
        .ad{
            position:absolute;
            top: 182px;
            left: 26px;
            display: block;
            width: 51px;
            height:25px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            text-align:center;
            line-height:25px;
            background:#fa4b9b;
            i{  
                position:absolute;
                top: -1px;
                left: 15px;
                display:block;
                width:0;
                height:0;
                border:10px solid white;
                border-top:10px solid transparent;
                border-left:10px solid transparent;
                border-right:10px solid transparent;
            }
        }
    }
}
